epis-ws/epis-ws-provider/src/main/webapp/WEB-INF/wsdls/EPISWSGateway.wsdl

<wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema"
  xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://ws.epis.org/provider/EPISWSGateway"
  xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http"
  xmlns:wsp="http://www.w3.org/ns/ws-policy"
  xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd"
  xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702"
  name="EPISWSGateway" targetNamespace="http://ws.epis.org/provider/EPISWSGateway">
  <wsdl:types>
    <xs:schema xmlns:tns="http://ws.epis.org/provider/EPISWSGateway"
      xmlns:xs="http://www.w3.org/2001/XMLSchema" attributeFormDefault="unqualified"
      elementFormDefault="unqualified" targetNamespace="http://ws.epis.org/provider/EPISWSGateway">

      <xs:element name="findConfigurationData" type="tns:findConfigurationData" />
      <xs:element name="findConfigurationDataResponse" type="tns:findConfigurationDataResponse" />
      <xs:element name="processPrimitiveData" type="tns:processPrimitiveData" />
      <xs:element name="processPrimitiveDataResponse" type="tns:processPrimitiveDataResponse" />

      <xs:complexType name="findConfigurationData">
        <xs:sequence>
          <xs:element minOccurs="0" name="arg0" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="findConfigurationDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="tns:configurationVO" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="configurationVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="agentInfo" type="tns:agentVO" />
          <xs:element maxOccurs="unbounded" minOccurs="0"
            name="jobList" nillable="true" type="tns:jobVO" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="agentVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="agentId" type="xs:string" />
          <xs:element minOccurs="0" name="charset" type="xs:string" />
          <xs:element minOccurs="0" name="createdDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="modifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="officerContact" type="xs:string" />
          <xs:element minOccurs="0" name="officerName" type="xs:string" />
          <xs:element minOccurs="0" name="operatingSystem" type="xs:string" />
          <xs:element minOccurs="0" name="orgCode" type="xs:string" />
          <xs:element minOccurs="0" name="smsCellNo" type="xs:string" />
          <xs:element minOccurs="0" name="smsUseYn" type="xs:string" />
          <xs:element minOccurs="0" name="websvcPass" type="xs:string" />
          <xs:element minOccurs="0" name="websvcUser" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:complexType name="jobVO">
        <xs:sequence>
          <xs:element minOccurs="0" name="agentExecTime" type="xs:string" />
          <xs:element minOccurs="0" name="agentId" type="xs:string" />
          <xs:element minOccurs="0" name="createdDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="jdbcDriverClassName" type="xs:string" />
          <xs:element minOccurs="0" name="jdbcPassword" type="xs:string" />
          <xs:element minOccurs="0" name="jdbcUrl" type="xs:string" />
          <xs:element minOccurs="0" name="jdbcUsername" type="xs:string" />
          <xs:element minOccurs="0" name="jobId" type="xs:string" />
          <xs:element minOccurs="0" name="jobName" type="xs:string" />
          <xs:element minOccurs="0" name="jobType" type="xs:string" />
          <xs:element minOccurs="0" name="modifiedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="serverSql" type="xs:string" />
          <xs:element minOccurs="0" name="sqlMain" type="xs:string" />
          <xs:element minOccurs="0" name="sqlPost" type="xs:string" />
          <xs:element minOccurs="0" name="sqlPre" type="xs:string" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="processPrimitiveData">
        <xs:sequence>
          <xs:element maxOccurs="unbounded" minOccurs="0" name="arg0" type="tns:hashMap" />
        </xs:sequence>
      </xs:complexType>

      <xs:complexType name="hashMap">
        <xs:complexContent>
          <xs:extension base="tns:abstractMap">
            <xs:sequence />
          </xs:extension>
        </xs:complexContent>
      </xs:complexType>

      <xs:complexType abstract="true" name="abstractMap">
        <xs:sequence />
      </xs:complexType>

      <xs:complexType name="processPrimitiveDataResponse">
        <xs:sequence>
          <xs:element minOccurs="0" name="return" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
      <xs:element name="Exception" type="tns:Exception" />
      <xs:complexType name="Exception">
        <xs:sequence>
          <xs:element minOccurs="0" name="message" type="xs:string" />
        </xs:sequence>
      </xs:complexType>
    </xs:schema>
  </wsdl:types>

  <wsdl:message name="processPrimitiveDataResponse">
    <wsdl:part name="parameters" element="tns:processPrimitiveDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findConfigurationDataResponse">
    <wsdl:part name="parameters" element="tns:findConfigurationDataResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="processPrimitiveData">
    <wsdl:part name="parameters" element="tns:processPrimitiveData">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="Exception">
    <wsdl:part name="Exception" element="tns:Exception">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="findConfigurationData">
    <wsdl:part name="parameters" element="tns:findConfigurationData">
    </wsdl:part>
  </wsdl:message>

  <wsdl:portType name="EPISWSGateway">
    <wsdl:operation name="findConfigurationData">
      <wsdl:input name="findConfigurationData" message="tns:findConfigurationData">
      </wsdl:input>
      <wsdl:output name="findConfigurationDataResponse"
        message="tns:findConfigurationDataResponse">
      </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="processPrimitiveData">
      <wsdl:input name="processPrimitiveData" message="tns:processPrimitiveData">
      </wsdl:input>
      <wsdl:output name="processPrimitiveDataResponse"
        message="tns:processPrimitiveDataResponse">
      </wsdl:output>
      <wsdl:fault name="Exception" message="tns:Exception">
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:portType>

  <wsdl:binding name="EPISWSGatewaySoapBinding" type="tns:EPISWSGateway">
    <soap:binding style="document"
      transport="http://schemas.xmlsoap.org/soap/http" />
    <wsp:PolicyReference URI="#UTEncryptPolicy" />

    <wsdl:operation name="findConfigurationData">
      <soap:operation
        soapAction="http://ws.epis.org/provider/EPISWSGateway/findConfigurationData"
        style="document" />
      <wsdl:input name="findConfigurationData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="findConfigurationDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal" />
      </wsdl:fault>
    </wsdl:operation>

    <wsdl:operation name="processPrimitiveData">
      <soap:operation
        soapAction="http://ws.epis.org/provider/EPISWSGateway/processPrimitiveData"
        style="document" />
      <wsdl:input name="processPrimitiveData">
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="processPrimitiveDataResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="Exception">
        <soap:fault name="Exception" use="literal" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>

  <wsdl:service name="EPISWSGateway">
    <wsdl:port name="EPISWSGatewayPort" binding="tns:EPISWSGatewaySoapBinding">
      <soap:address
        location="http://localhost:8080/epis-ws/webservices/EPISWSGateway" />
    </wsdl:port>
  </wsdl:service>



  <wsp:Policy wsu:Id="UTEncryptPolicy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsam:Addressing wsp:Optional="false" />
        <sp:SymmetricBinding>
          <wsp:Policy>
            <sp:ProtectionToken>
              <wsp:Policy>
                <sp:UsernameToken
                  sp:IncludeToken="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702/IncludeToken/AlwaysToRecipient">
                  <wsp:Policy>
                    <sp:WssUsernameToken11 />
                    <sp:NoPassword />
                  </wsp:Policy>
                </sp:UsernameToken>
              </wsp:Policy>
            </sp:ProtectionToken>

            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>

            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic128 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
          </wsp:Policy>
        </sp:SymmetricBinding>

        <sp:Wss11>
          <wsp:Policy>
            <sp:MustSupportRefIssuerSerial />
            <sp:MustSupportRefThumbprint />
            <sp:MustSupportRefEncryptedKey />
          </wsp:Policy>
        </sp:Wss11>

        <sp:EncryptedParts>
          <sp:Body />
        </sp:EncryptedParts>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
</wsdl:definitions>